<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="scrip.css">
    <link rel="stylesheet" href="Images">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <header>
        <div class="navbar">
            <div id="logo">
                <img src="https://img.freepik.com/free-vector/detailed-travel-logo-design_23-2148639304.jpg" >
            </div>
            
            <div class="nav">
                <a href="https://explore-9lwx.onrender.com/">HOME</a>&ensp;&ensp;&ensp;&ensp;
                <button><a href="https://explore-9lwx.onrender.com/login">LOGIN</a></button>&ensp;&ensp;&ensp;&ensp;
                <button><a href="https://explore-9lwx.onrender.com/signup2">SIGN UP</a></button>
            </div>
        </div>
    </header>
    <main>
        <div class="pic1">
            <video class="video1" autoplay="" loop="" muted=""
                poster="https://www.pexels.com/assets/videos/free-videos-7daa2ef41a140f70c757ce91913a4ecb90570b7d7cd2b401bae868350e02c83a.jpg"
                playsinline="">
                <source src="https://static.pexels.com/lib/videos/free-videos.mp4" type="video/mp4">
                <source src="https://static.pexels.com/lib/videos/free-videos.webm" type="video/webm">
            </video>
            <div class="container">
                <p class="typed">Welcome to Explore</p>
            </div>
            <form method="get" action="/signup2"><input type="search" placeholder="&ensp;DESTINATIONS" name="destination"><button id="search">Search</button></form>
        </div>
        <div>
            <h1>POPULAR DESTINATIONS</h1>
            <div class="box">
                <div width="fit-content">
                    <video class="video2" autoplay="" loop="" muted="" playsinline="">
                        <source
                            src="https://media.istockphoto.com/id/962055036/video/4k-time-lapse-aerial-view-of-victoria-harbor-hong-kong-city.mp4?s=mp4-640x640-is&k=20&c=GwKHZP-ux6v_y4kV1ICqG0o-LRpd1YsDvCI2EQK-CBs="
                            type="video/mp4">
                    </video>
                    <p><h2 id="name1">America</h2></p>
                </div>
                <div width="fit-content">
                    <video class="video3" autoplay="" loop="" muted="" playsinline="">
                        <source
                            src="https://v.ftcdn.net/02/52/04/09/700_F_252040903_m09wQdL59sUEUpVJgKPLHiVoFNzZ1ZJe_ST.mp4"
                            type="video/mp4">
                    </video>
                    <p><h2 id="name2">London</h2></p>
                </div>
                <div width="fit-content">
                    <video class="video4" autoplay="" loop="" muted="" playsinline="">
                        <source
                            src="https://v.ftcdn.net/03/52/67/96/700_F_352679619_8ADViD9kvF9UdV73YbZALY9Z7pxss6aq_ST.mp4"
                            type="video/mp4">
                    </video>
                    <p><h2 id="name3">Paris</h2></p>
                </div>
                <div width="fit-content">
                    <video class="video5" autoplay="" loop="" muted="" playsinline="">
                        <source
                            src="https://v.ftcdn.net/02/67/72/14/700_F_267721401_F5sm2Ndz6K8Agu4jIL6QKnQapKH1mVVr_ST.mp4"
                            type="video/mp4">
                    </video>
                    <p><h2 id="name4">Mumbai</h2></p>
                </div>
                <div width="fit-content">
                    <video class="video6" autoplay="" loop="" muted="" playsinline="">
                        <source
                            src="https://v.ftcdn.net/06/29/61/27/700_F_629612795_pbT2VlivEdi930eMFPxB14YOi25wkAvz_ST.mp4"
                            type="video/mp4">
                    </video>
                    <p><h2 id="name5">Australia</h2></p>
                </div>
                <div width="fit-content">
                    <video class="video7" autoplay="" loop="" muted="" playsinline="">
                        <source
                            src="https://v.ftcdn.net/04/90/41/91/700_F_490419146_IYvMP6EX7duVzK4YEn5EauzP6ErIl8d7_ST.mp4"
                            type="video/mp4">
                    </video>
                    <p><h2 id="name6">Europe</h2></p>
                </div>
                <div width="fit-content">
                    <video class="video8" autoplay="" loop="" muted="" playsinline="">
                        <source
                            src="https://v.ftcdn.net/01/39/18/88/700_F_139188899_w68gUzcn28vqHQfi5GMOhxpeqgATu8Uh_ST.mp4"
                            type="video/mp4">
                    </video>
                    <p><h2 id="name7">Singapore</h2></p>
                </div>
                <div width="fit-content">
                    <video class="video9" autoplay="" loop="" muted="" playsinline="">
                        <source
                            src="https://v.ftcdn.net/02/28/98/99/700_F_228989965_ooCHgPBJ6JXGKFQ62Hkw6VpKDI1hb4xF_ST.mp4"
                            type="video/mp4">
                    </video>
                    <p><h2 id="name8">Canada</h2></p>
                </div width="fit-content">
                <div>
                    <video class="video10" autoplay="" loop="" muted="" playsinline="">
                        <source
                            src="https://v.ftcdn.net/04/13/13/65/700_F_413136539_CKnQfnl1vo8mATACWSxz0anoNWMB0XY2_ST.mp4"
                            type="video/mp4">
                    </video>
                    <p><h2 id="name9">Africa</h2></p>
                </div>
                
            </div>

        </div>
    </main>
    <footer>
        <div class="logo">
            <img src="https://img.freepik.com/free-vector/detailed-travel-logo-design_23-2148639304.jpg">
            <h3>EXPLORERS</h3>
        </div>
        <i id="insta" class="fa-brands fa-instagram" style="color: #f7fafd;"></i>&ensp;&ensp;
        <i id="Twitter"class="fa-brands fa-twitter" style="color: #f1f4f8;"></i>&ensp;&ensp;
        <i id="linkedin"class="fa-brands fa-linkedin"></i>
        <i id="copyright"class="fa-regular fa-copyright" style="color: #f2f4f7;">&ensp;<b>2023 EXPLORERS PVT.LTD</b></i>
    </footer>
    <script>
        // Get the button
        let mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
        </script>
</body>

</html>
